// LINK CLASSES
//=============
.link {
  background: transparent;
  color: $white-two;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;

  &:hover {
    color: $color-accent;
  }
  
  &:active, &:focus {
    color: lighten($color-accent, 20%);
    border: none;
    outline: none;
  }
}
