.top {
  background: $black url(../images/bg-top.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.commission {
  background: $black url(../images/bg-bottom.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.advantages-top,
.advantages-bottom,
.feedback {
  background: $white-two;
}

.how-works {
  background: $white;
}

footer {
  background: $black;
}