.top {
  background-color: $black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/bg-top.jpg');
}

.commission {
  background: 
    linear-gradient(
        rgba($black-two, 0.45), 
        rgba($black-two, 0.45)
      ),
      /* bottom, image */
      url('../images/bg-bottom.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.advantages-top,
.advantages-bottom,
.feedback {
  background-color: $white-two;
}

.how-works {
  background-color: $white;
}

footer {
  background-color: $black;
}