@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $white-two;
  text-decoration: none;
  transition: all .2s  linear;
  text-transform: uppercase;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  &:hover {
    color: $color-accent;
  }
}

img {
  height: auto;
  max-width: 100%;
}

button {
  border: none;
  background-color: $dusty-orange;
  border-radius: 20px;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white-two;
  width: 150px;
  height: 40px;
  padding: 10px 0;
  text-transform: uppercase;
  transition: all .2s;

  &:hover, &:focus {
    color: $dusty-orange;
    background: $white-two;
    border-radius: 20px;
  }
}


li {
  @include reset-list;
}

label {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: $white-two;
}

input {
  background: transparent;
  border: none;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: $white-two;
  transition: all .2s;
  -webkit-appearance: none;

  &::placeholder {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: $white-two;
  }
  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  
  }
}

input[type="submit"] {
  width: 165px;
  height: 40px;
  font-family: "Gotham Pro";
  color: $dusty-orange;
  background: $white-two;
  border-radius: 20px;
}

.button-container {
  text-align: center;
}