
// GOTHAM PRO
//====================
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
