.advantages-bottom {
  padding-top: 60px;
  padding-bottom: 80px;
  .advantages-container {
    justify-content: space-between;
    .col {
      width: 50%;
      &:first-child {
        text-align: right;
        order: 2;
        h2 {
          margin: 0 0 40px 100px;
          text-align: left;
          width: 260px;
        }
      }
    }
  }
  .advantage {
    h3 {
      padding: 25px 0;
      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: $color-accent;
      }
    }
    p {
      width: 375px;
      margin: 0;
      padding: 0;
    }
    &:not(:first-child) {
      margin-top: 60px;
    }
  }
}
