.advantages-top {
  padding-bottom: 60px;

  .col {

    img {
      transform: translateX(-50px);
    }

    &:first-child {
      align-items: center;
      flex-wrap: wrap;  
      width: 40%
      }

    &:nth-of-type(2) {
      width: 60%;
    }
  }
}

.advantages-top {
  .advantages-items {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .advantage {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-secondary;
    color: $white-two;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 0px rgba(13, 16, 18, 0.15);
    margin-top: 30px;
    height: 100px;
    width: 250px;
    text-align: center;

    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    position: relative;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background: $color-accent;
      display: block;
      position: absolute;
      top: 30%;
    }

    &:nth-child(2), &:nth-child(3n) {
      background: $color-accent;
      &::before {
        background: $white-two;
      }
    }
    }
  } 
}