.feedback {
  padding: 60px 0 75px;

  .col-5-10 {
    align-items: center;
    position: relative;
  }

  .btn {
    background: transparent url('../images/btn-arrow.png') no-repeat center;
    outline: none;
    width: 30px;
    position: absolute;
    top: 40%;
    z-index: 3;
    
    &-next-feedback {
      right: 0;
      
      &:hover {
        transform: scale(1.3);
      }
    }

    &-prev-feedback {
      transform: rotate(180deg);

      &:hover {
        transform: scale(1.3) rotate(180deg);
      }
    }
  }
}

.card-feedback {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
}

.card-feedback__avatar {
  display: block;
  margin: 0 auto;
}

.card-feedback__name {
  display: block;
  font-weight: bold;
  color: $color-secondary;
  padding-top: 10px;

  &::after {
    content: '\201D';
    display: block;
    color: $color-accent;
    font-family: 'Playfair Display', serif;
    height: 40px;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
  }
}

.card-feedback__text {
  width: 265px;
  font-style: italic;
  color: $greyish;
  margin: 0 auto;
}