.how-works {
  padding: 60px 0;

  .title-text {
    margin-bottom: 50px;
    text-align: center;
  }
}

.wflow-container {
  justify-content: space-between;
}
.wflow__item {
  box-sizing: border-box;
  text-align: center;
  width: 230px;
  min-height: 240px;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  background: $color-accent;
  position: relative;

  &--secondary {
    background: $color-secondary;
  }

  &:not(:last-child)::after {
    content: '';
    background: $white-two url('../images/btn-arrow.png') no-repeat center;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 10px 15px 0 rgba(13, 16, 18, 0.15);
    position: absolute;
    top: 40%;
    left: 92%;
    z-index: 2;
  }
}
.wflow__step-number {
  color: $color-accent;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 800;

  &--secondary {
    color: $color-secondary;
  }
}
.wflow__step {
  font-family: "Gotham Pro";
  text-transform: uppercase;
  color: $white-two;
  font-weight: bold;
  margin: 40px 0 0;

  &--accent {
    color: $color-accent;
  }
}
.wflow__description {
  color: $white-two;

  &--secondary {
    color: $color-secondary;
  }
}

.button-container {
  margin-top: 50px;
  text-align: center;
}