// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.


@import 'top';
@import 'advantages';
@import 'comission';
@import 'feedback';
@import 'how-works';
@import 'footer';

// LAYOUT
//==============
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.col-5-10 {
  width: 50%;
}

.col-4-10 {
  width: 400px;
}

.col-6-10 {
  width: 610px; 
}
// FLEX
//==============
.flex {
  display: flex;
} 
