// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.


@import 'top';
@import 'advantages-top';
@import 'advantages-center';
@import 'advantages-bottom';
@import 'comission';
@import 'feedback';
@import 'how-works';
@import 'footer';

// LAYOUT
//==============
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

// FLEX
//==============
.flex {
  display: flex;
} 

// SPAN
//=============
.text-color-accent {
  color: $color-accent;
}

.amount {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: normal;
  color: $white-two;
  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: $color-accent;
    margin: 0 auto 10px;
  }
}
// LINK CLASSES
//=============
.link {
  background: transparent;
  color: $white-two;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  &:hover {
    color: $color-accent;
  }
  &:active, &:focus {
    color: lighten($color-accent, 20%);
    border: none;
    outline: none;
  }
}
// LINK CLASSES
//=============
.btn {
  border: none;
  background-color: $dusty-orange;
  border-radius: 20px;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white-two;
  width: 150px;
  height: 40px;
  padding: 10px 0;
  text-transform: uppercase;
  transition: all .2s;

  &:hover, &:focus {
    color: $dusty-orange;
    background: $white-two;
    border-radius: 20px;
    outline: none;
  }
}

// TEXT CLASSES
//=============
.title-text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  line-height: 1.5;
}

// HELPER CLASSES
//=============
.button-container {
  text-align: center;
}










