.top {
  padding-top: 20px;
  padding-bottom: 60px;
}

.nav-top {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  
  &__link {
    padding: 10px;
    margin-right: 5px;
  }
}

nav {
  justify-content: center;

}

.form-container {
  box-sizing: border-box;
  padding: 40px 60px;
  margin: auto;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: rgba( $black-two, .55 );
}